.fondo {
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
    background-image: url(fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedor{
    position: relative;
    border: 1px dotted black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.escenario {
    margin-top: 55px;
    position: relative;
    border: 1px dotted red;
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    >div {
        border: 1px dotted purple;
    }
}
.controles {
    display: flex; 
    gap: 30px;
}
.tarjetas {
    position: relative;
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
}
.tarjeta {
    max-height: 350px;
    min-width: 500px;
    grid-area: tjt;
    display: none;              /* oculta de verdad, no ocupa espacio */
    opacity: 0;                 /* punto de partida para la animación */
    transition: opacity 0.6s;   /* anima los cambios de opacidad */
}

.tarjeta img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.tarjeta.activa  { display: block; }  /* existe en la página */
.tarjeta.visible { opacity: 1; }      /* se ve */

#atras {
    grid-area: btnizq;
    justify-self: right;
}
#siguiente {
    grid-area: btnder;
}
#atras, #siguiente {
    background: none;      /* sin fondo gris */
  border: none;          /* sin borde */
  padding: 0;            /* sin relleno */
  cursor: pointer;       /* la manita al pasar encima */
  transition: transform 0.3s ease, opacity 0.3s ease;
}
#atras img,
#siguiente img {
  display: block;   /* evita un pequeño hueco extra debajo de la imagen */
  width: 60px;      /* ajusta a tu gusto */
  height: auto;     /* conserva las proporciones */
}
